@charset "UTF-8";

:root
{
    --VermelhoOff: #F40000;
    --coffee: #7A4D2F;
    --VioletaRussa:#261447;
    --vanilla: #F2F09E;
    --lion: #B2906A;
    --preto: #000000;
    --branco: #ffffff;
}
p 
{
    background-color: #ffd046;
}
/*inline*/
h1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}
h2{

    color: #2D1B1C;
    background-color: #B2906A;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
 }
 
  h3{
    
    color:#2D1B1C;
    background-color: #B2906A;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }   
 
 
 h4{
 
    color:#2D1B1C;
    background-color: #B2906A;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }

*
{
    background-color:#FFD046;
}
li
{
    font-size: 25px;
}
    div{
        width:60%; 
        margin:auto;
        height:12px;
  }
  a{
    color:#ff0000;
  }
/* Style for anchor links */
a {
    color: #000000;
    text-decoration: underline;
}

/* Hover effect for anchor links */
a:hover {
    color: #000000;
    text-decoration: none;
}

/* Visited link style for anchor links */
a:visited {
    color: #ff0000;
}

/* Active link style for anchor links */
a:active {
    color: #000000;
    text-decoration: underline;
}